{% extends "base.html" %}
{% block body %}
<style>
    .video_container {
        position: relative;
    }
    video {
        width: 100%;
        display: block;
    }
    .video_overlay {
        position: absolute;
        border: 1px solid #f00;
        z-index: 9;
        top: 150px;
        left: 50px;
        width: 230px;
        height: 80px;
    }
    .main, .welcome {
        text-align: center;
        padding: 50px 20px 50px 20px;
        color: #606060;
    }
    .main {
        width: 100%;
        color: #fff;
        background: linear-gradient(-135deg, #E4A03B 0%, #C867E0 100%);
    }
    .main > .lightbox_link {
        display: inline-block;
        width: 180px;
        height: 180px;
        padding: 20px;
        color: #fff;
        text-decoration: none;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 5px;
        text-align: center;
    }
    .main > .lightbox_link:nth-of-type(1) {
    }
    .main > .lightbox_link:nth-of-type(2) {
    }
    #enter_code input, #enter_code a {
        display: block;
        margin: 10px;
    }
    #enter_code a {
        background: #ccc;
        border-radius: 3px;
        width: 50px;
        padding: 3px;
        color: #000;
        text-decoration: none;
    }
</style>
<section class="welcome">
    <h1>Welcome to Changi Airport!</h1>
    <p>Explore all that Changi has to offer, and stand to win a million dollars.</p>
</section>
<section class="main">
    <h2>Choose an option</h2>
    <a href="#barcode_scanner" class="lightbox_link">Scan your boarding pass
        <p><img src="https://github.com/kyleissuper/cag-hack/raw/master/img/camera.png" style="width: 100px; margin-top: 10px;"></p>
    </a>
    <p><b>or</b></p>
    <a href="#enter_code" class="lightbox_link">Enter your booking reference number
        <p style="display: block; width: 117px; height: 20px; border: 1px solid #fff; border-radius: 2px; background: rgba(0, 0, 0, 0.5); margin: 30px 0 0 30px">*****</p>
    </a>
</section>
<div id="barcode_scanner" class="lightbox">
    <!--<a href="#" class="toggle_video">Toggle video</a>-->
    <div class="video_container">
        <video id="video" autoplay></video>
        <div class="video_overlay"></div>
</div>
    <canvas id="canvas"></canvas>
</div>
<div id="enter_code" class="lightbox">
    <input type="text" placeholder="Reference Code">
    <a href="/login?demo">Login</a>
</div>
<script>
var mediaSources = [],
    toggle = 1,
    canvas = document.createElement("canvas"),
    context = canvas.getContext("2d");
document.querySelector(".lightbox_link").addEventListener("click", function(evt) {
    var video = document.getElementById('video');
    if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
        //console.log(navigator.mediaDevices.enumerateDevices());
        navigator.mediaDevices.enumerateDevices().then(function(ul) {
            ul.forEach(function (li) {
                if (li.kind == "videoinput") {
                    mediaSources.push(li["deviceId"].toString());
                    };
                });
                navigator.mediaDevices.getUserMedia({  video: {
                       optional: [{sourceId: mediaSources[toggle]}]
                        } }).then(function(stream) {
                    video.src = window.URL.createObjectURL(stream);
                    video.play();
                });
        });
    }
});
function capture() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var response = JSON.parse(this.responseText),
                    status_type = response["status"];
                if (status_type == "Success") {
                    window.location = "/login?id_type=barcode&data="+response["data"];
                }
            }
        };
        xhttp.open("POST", "/scan", true);
        var video = document.querySelector("#video");
        canvas.width = video.offsetWidth;
        canvas.height = video.offsetHeight;
        //canvas.width = 300;
        //canvas.height = 100;
        context.drawImage(video, 80, 250, 550, 120, 0, 0, 550, 120);
        var data = canvas.toDataURL().replace(/^data:image\/(png|jpg);base64,/, "");
        xhttp.send(data);
}
document.querySelector(".lightbox_link").addEventListener("click", function(evt) {
        //var interval = setInterval(capture, 5000);
        capture();
        });
//document.querySelector(".toggle_video").addEventListener("click", function(evt) {
//    toggle = (( toggle == 0 ) ? 1 : 0);
//    navigator.mediaDevices.getUserMedia({  video: {
//           optional: [{sourceId: mediaSources[toggle]}]
//            } }).then(function(stream) {
//        video.src = window.URL.createObjectURL(stream);
//        video.play();
//    });
//});
</script>
{% endblock %}
