{% extends "base.html" %}
{% block body %}
<style>
    .video_container {
        position: relative;
    }
    video {
        width: 100%;
        display: block;
    }
    .video_overlay {
        position: absolute;
        border: 1px solid #f00;
        z-index: 9;
        top: 150px;
        left: 50px;
        width: 230px;
        height: 80px;
    }
</style>
<section class="welcome">
    <h1>Placeholder title</h1>
</section>
<section class="main">
    <h2>Choose an option</h2>
    <a href="#barcode_scanner" class="lightbox_link">Camera</a>
    <a href="#enter_code" class="lightbox_link">Enter code</a>
</section>
<div id="barcode_scanner" class="lightbox">
    <!--<a href="#" class="toggle_video">Toggle video</a>-->
    <div class="video_container">
        <video id="video" autoplay></video>
        <div class="video_overlay"></div>
</div>
    <canvas id="canvas"></canvas>
</div>
<div id="enter_code" class="lightbox">
    <input type="text">
    <a href="/login?demo">Login</a>
</div>
<script>
var mediaSources = [],
    toggle = 1,
    canvas = document.createElement("canvas"),
    context = canvas.getContext("2d");
document.querySelector(".lightbox_link").addEventListener("click", function(evt) {
    var video = document.getElementById('video');
    if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
        //console.log(navigator.mediaDevices.enumerateDevices());
        navigator.mediaDevices.enumerateDevices().then(function(ul) {
            ul.forEach(function (li) {
                if (li.kind == "videoinput") {
                    mediaSources.push(li["deviceId"].toString());
                    };
                });
                navigator.mediaDevices.getUserMedia({  video: {
                       optional: [{sourceId: mediaSources[toggle]}]
                        } }).then(function(stream) {
                    video.src = window.URL.createObjectURL(stream);
                    video.play();
                });
        });
    }
});
function capture() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var response = JSON.parse(this.responseText),
                    status_type = response["status"];
                if (status_type == "Success") {
                    window.location = "/login?id_type=barcode&data="+response["data"];
                }
            }
        };
        xhttp.open("POST", "/scan", true);
        var video = document.querySelector("#video");
        canvas.width = video.offsetWidth;
        canvas.height = video.offsetHeight;
        //canvas.width = 300;
        //canvas.height = 100;
        context.drawImage(video, 80, 250, 550, 120, 0, 0, 550, 120);
        var data = canvas.toDataURL().replace(/^data:image\/(png|jpg);base64,/, "");
        xhttp.send(data);
}
document.querySelector(".lightbox_link").addEventListener("click", function(evt) {
        //var interval = setInterval(capture, 5000);
        capture();
        });
//document.querySelector(".toggle_video").addEventListener("click", function(evt) {
//    toggle = (( toggle == 0 ) ? 1 : 0);
//    navigator.mediaDevices.getUserMedia({  video: {
//           optional: [{sourceId: mediaSources[toggle]}]
//            } }).then(function(stream) {
//        video.src = window.URL.createObjectURL(stream);
//        video.play();
//    });
//});
</script>
{% endblock %}
