{% extends "base.html" %}
{% block body %}
<style>
	.pass {
		position: absolute;
		width:60%;
		top: 40px;
		right: 8px;
		text-align: left;
		color:#606060;
	}
</style>
<section class="win">
	<a href="https://play.google.com/store/apps/details?id=com.changiairport.cagapp&hl=en"><img src="https://github.com/kyleissuper/cag-hack/raw/master/img/bg-profile.jpg" style="width:100%;"></a>
	<div class="pass">
	<p style="font-size:1.1em;">Idawati Bustan
	</p>
	<p>Transit from KOR to CGK<br>Gate A8 @ 9:25<br>Time in transit: 14 hours</p>
	</div>
</section>
{% endblock %}
